/* CSS Document */
@font-face {
  font-family: 'BKoodakBold';
  src: url('../font/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body{
	font-family: 'BKoodakBold' ;
	}